@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --fg: #000;
    --fg-light: #888;
    --border-col: #777;
    --bg: #FFF;
    --bg-code: #EEE;
    --accent: #103e7a; 
    --main-font: "Public Sans", sans-serif;
    --mono-font: "Roboto Mono", monospace;
}

body {
    font-family: var(--main-font);
    background: var(--bg);
    margin: 0;
}

main, nav, footer {
    margin: auto;
    max-width: 700px;
}

main {
    hyphens: auto;
    color: var(--fg);
    font-size: .9rem;
    font-weight: 400;
}

/* Headings */

h1 {
    margin: .5rem 0;
    font-size: 2.5rem;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    margin-top: 1.5rem;
}

h2 {
    font-size: 1rem;
}

h3, h4, h5, h6 {
    font-size: 0.9rem;
}

/* Paragraph */

.highlight + p, pre + p {
    margin: 0;
}

p {
    margin: 0;
    margin-top: 0.8rem;
    line-height: 1.5;
}

h2+p, h3+p, h4+p, h5+p, h6+p {
    margin-top: 0;
}

.post-list time {
    font-family: var(--mono-font);
    font-size: 0.85rem;
    color: var(--fg-light);
}

.post-date {
    display: block;
    color: var(--fg-light);
    margin: 0;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-family: var(--main-font);
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
}

/* Hyperlinks */

a {
    color: var(--fg);
    text-decoration: none;
}

p > a {
    color: var(--accent);
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

/* Lists */

ul, ol {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

li {
    line-height: 1.8;
}

li::marker {
    color: var(--fg-light);
}

li ol, li ul {
    margin: 0;
}

/* Post list */

.post-list-dash {
    margin: 0 0.25rem;
}

.post-list a {
    margin: 0.8rem 0;
    display: block;
}

/* Box */

.box, .box-note {
    border: solid var(--fg) 1px;
    position: relative;
    display: block;
    margin: 2rem 1rem;
    padding: 0.5rem;
}

.box-title {
    position: absolute;
    top: -1rem;
    left: 1.5rem;
    background: var(--bg);
    padding: 0.35rem 0.5rem;
    font-weight: 800;
    font-variant-caps: small-caps;
    text-transform: uppercase;
}

.box-content {
    margin: 0.8rem;
}

.note-link {
    display: inline-block;
    margin: 0.5rem 1rem;
}

/* Images */

img {
    box-shadow: 0 0 0.9rem var(--fg);
    display: block;
    width: 90%;
    margin: 25px auto;
}

/* Code */

pre {
    padding: 1rem;
    margin: 1.5rem 0;
    overflow-x: auto;
    border: solid var(--border-col) 1px;
}

code, pre {
    font-family: var(--mono-font);
    font-size: 0.8rem;
    background-color: var(--bg-code);
}

p code {
    font-weight: 400;
    padding: 0 0.15rem;
}

/* Table */

table {
    display: block;
    margin: 1.5rem auto;
    padding: 0.5rem 0;
    width: 95%;
    border-collapse: collapse;
    overflow: auto;
    border: solid var(--border-col) 1px;
}

th {
    border-bottom: solid 1px var(--border-col);
    font-weight: 700;
}

td, th {
    padding: 7px 12px;
}

/* Blockquotes */

blockquote {
    font-size: 0.85rem;
    margin: 1rem;
    border-left : solid var(--border-col) 5px;
    padding: 0.5rem;
    background: var(--bg-code);
}

blockquote p {
    margin: 0;
}

/* Header */

nav {
    margin: 5rem auto;
}

nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--fg);
    padding: 0 1.5rem;
}

.nav-title{
    margin-bottom: 1rem;
    text-align: center;
}

.nav-title a {
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 700;
}

footer p {
    margin: 100px auto;
    font-size: 0.85rem;
    text-align: center;
}

/* Notes card */

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 2rem 0;
}

.card-list > a {
    width: 40%;
    margin: 0.7rem 1rem;
    border: 2px solid black;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 0.6rem;
}

.card-list > a:nth-child(even) {
    margin-left: auto;
}

.card-list a:hover {
    text-decoration: none;
}

/* Details */

details {
    margin: 1rem 0;
    border: 1px solid var(--border-col);
}

details > summary, details > :not(summary){
    padding: 0.3rem 0.5rem;
}

details > summary {
    background: var(--bg-code);
    color: var(--fg);
    font-weight: 700;
}

details > :not(summary){
    border-top: 1px solid var(--border-col);
    margin: 0;
}

/* Smartphone Tweaks */
@media screen and (max-width: 450px) {

    main {
        width: 90%;
        margin: auto;
        font-size: 0.85rem;
    }

    nav ul {
        width: 100%;
        margin: 0 0 2rem 0;
    }

    nav li:first-child a, nav li:last-child a {
        padding: 0 1rem;
    }

    .box {
        margin: 2rem 0.5rem;
    }

    .post-list {
        margin: 0.8rem 0.25rem;
    }

    .post-list a {
        margin: 1rem 0;
    }

    .post-list time {
        font-size: 0.85rem;
    }

    .post-list-dash {
        visibility: hidden;
        margin: 0;
    }

    .post-list, .post-list-title {
        display: block;
    }

    time {
        font-size: 0.9rem;
    }

    h1 {
        line-height: 0.9;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
    }

    h2 {
        font-size: .9rem;
    }

    code, pre {
        font-size: 0.7rem;
    }

    nav a {
        font-size: 0.9rem;
    }

    img {
        width: 97%;
    }

    blockquote {
        margin: 1rem 0.25rem;
    }

    .card-list > a {
        font-size: 0.96rem;
        margin: 0.3rem;
        width: 43%;
    }

    ul, ol {
        padding-left: 32px;
        margin: 0;
    }
}
